// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$main_color: orange;
$sub_color: #fff;
$asort_color: red;

/*posts show*/
#review-detail{
	margin:20px;
	.headline-first {
       color:black;
       font-weight:bold;
			 font-size:2.5rem;
			 
	    }
	 .headline-first:first-letter {
       color:$main_color;
       font-size:3.0rem;
       }

    h2 {
		padding: 0.6em 0.6em;/*文字の上下 左右の余白*/
		color: #494949;/*文字色*/
		background: #f4f4f4;/*背景色*/
		border-left: solid 5px $main_color;/*左線*/
		border-bottom: solid 3px #d7d7d7;/*下線*/
		text-align:left;
		padding-left:30px;
		margin:0px auto;
		width:95%;
		font-size:21px;
		font-weight:bold;
    }

    h3 {
		padding: 0.6em 0.6em;/*文字の上下 左右の余白*/
		color: #494949;/*文字色*/
		background: #f4f4f4;/*背景色*/
		border-left: solid 5px $main_color;/*左線*/
		border-bottom: solid 3px #d7d7d7;/*下線*/
		text-align:left;
		padding-left:30px;
		margin:0px auto;
		width:95%;
		font-size:21px;
		font-weight:bold;
    }
     h4 {
        position: relative;
        display: inline-block;
        padding: 0 55px;
        font-size:20px;
        font-weight:bold;
        text-align:left;
        padding-left:70px;
       }
     h4:before, h4:after {
        content: '';
        position: absolute;
        top: 50%;
        display: inline-block;
        width: 45px;
        height: 2px;
        border-top: solid 2px $main_color;
        border-bottom: solid 2px $main_color;
        }
     h4:before {
       left:0;
        }
     h4:after {
        right: 0;
        }
    h5 {
       color: $main_color;
       margin-left:60px;
       border: dotted $main_color 2px;/*ドット 色 太さ*/
       padding: 0.5em 0.5em 0.5em 2em;
       line-height: 1.5;
       width:60%;
       text-align:left;
         }
    .body-base {
      margin:50px 30px 0;
      font-size:18px;
    }
 }

 .c{
   width :250px;
 }
